<mat-card class="card-size">
    <form [formGroup]="friendForm" (ngSubmit)="onSubmit()" novalidate>

        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput  formControlName="name">
            <mat-error *ngIf="friendForm.invalid">Must enter at least three characters for your name</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="standard">
            <mat-label>Age</mat-label>
            <input type="number" matInput formControlName="age">
            <mat-error *ngIf="friendForm.invalid">Must enter a number greater than 0 and less than 100</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="standard">
            <mat-label>Weight</mat-label>
            <input type="number" matInput  formControlName="weight">
            <mat-error *ngIf="friendForm.invalid">Must enter a number for weight</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Friend List" formControlName="friendList" > 
                <mat-chip *ngFor="let friend of friendForm.get('friendList').value" [selectable]="selectable"
                         [removable]="removable" (removed)="remove(friend)">
                  {{friend}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New friend..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
              
        <div>
            <button
            type="submit"
            mat-button-color="primary"
            [disabled]="!friendForm.valid">Add Friend</button>
        </div>

    </form>
</mat-card>