.grid-container{
    display:grid;
    grid-template-columns: 15% 80%;
    grid-template-rows:  repeat(2, 1fr);
    grid-gap: 20px;
    height: 1024px;
    width: auto;
}

.grid-item{
    display: grid;
}

.list-display{
    height: auto;
    width: auto;
}

.form-display{
    height: auto;
    width: auto;
}

.chart-display{
    min-height: 800px;
    width: auto;
}