<div class="grid-container">

    <div class="grid-item form-display">
        <app-friend-form></app-friend-form>
    </div>

    <div class="grid-item chart-display">
        <app-chart-container></app-chart-container>
    </div>

</div>
